html{
    : center;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


div#container{
    border: 2px;
    border-color: dodgerblue;
    width: 180px;
    border-radius: 5px;
}

input{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

h2{
    background-color: dodgerblue;
    color: white;
    text-align: center;
   
}